.sortable-tree.dragging {
  .tree-node-content > * {
    pointer-events: none;
  }
}

.tree-node {
  position: relative;
  &.tree-node--active {
    background: rgba(0, 0, 0, 0.1);
  }
  &.tree-node--active-prev::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    border-top: 4px solid #03a9f4;
    width: 100%;
    pointer-events: none;
    z-index: 1;
  }
  &.tree-node--active-next::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    border-top: 4px solid #03a9f4;
    width: 100%;
    pointer-events: none;
    z-index: 1;
  }
}
